input[type='range'] {
  width: 109px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;

  height: 2px;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 2px;
  background-color: #797979;
  overflow-clip-margin: hidden;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  background: var(--dark);
  cursor: pointer;
  width: 12px;
  min-height: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-appearance: none;
  margin-top: -5px;

  // box-shadow: -1px 0 0 1px #fff;
  &::before {
    position: absolute;
    content: '';
    height: 5px;
    width: 50px;
    background-color: #fff;
  }
}
