.searchBox {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid var(--dark-gray);
  padding: 14px;
  gap: 1rem;
  flex: none;
}

.search {
  &::placeholder {
    color: #fff;
  }
}

.searchSvg {
  width: 19px;
  height: 19px;
}
