.trackList {
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0 0.75rem 0 0.5rem;
  flex-shrink: 1;

  &Header {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--dark-gray);
    min-height: 40px;
    text-transform: uppercase;
    padding: 0 1rem;

    &Svg {
      height: 1rem;
      width: 1rem;
    }
  }

  &Row {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 0.5rem 0;

    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 2%);
      cursor: pointer;
    }

    &Col1 {
      padding-left: 0.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      flex: 3;
    }

    &Col2 {
      flex: 2;
    }

    &Col3 {
      flex: 1.7;
      color: var(--dark-gray);
    }

    &Col4 {
      display: flex;
      gap: 0.75rem;
      justify-content: center;
      flex: 0.5;
      color: var(--dark-gray);
      padding-right: 0.75rem;
    }

    &:last-child {
      margin-bottom: calc(73px + 0.75rem);
    }
  }
}

.like {
  width: 15px;
  height: 15px;
}
