.songBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.cover {
  display: block;
  width: 51px;
  height: 51px;
}

.songInfo {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &Title {
    font-size: 1.125rem;
  }

  &Autor {
    font-size: 0.8rem;
  }
}

.reactions {
  &Box {
    display: flex;
    align-items: center;
  }

  &Button {
    cursor: pointer;
    width: 50px;
    height: 30px;
    border-radius: 50%;

    &:hover {
      filter: drop-shadow(0 0 5px #fff);
    }

    &:active svg {
      transform: scale(1.2);
    }
  }

  &Svg {
    color: #fff;
    width: 19px;
    height: 19px;

    &Big {
      padding-top: 4px;
      width: 30px;
      height: 30px;
    }
  }
}
