.layoutTop {
  width: 100%;
  flex-grow: 1;
  display: flex;

  &Middle {
    display: flex;
    min-width: 600px;
    width: 100%;
    max-height: 100vh;
    flex-direction: column;
  }

  &Right {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem 140px 1rem;
  }
}
