.playerBarBox {
  position: fixed;
  left: 0;
  bottom: -73px;
  width: 100%;
  height: 73px;
  display: flex;
  flex-direction: column;
  transition: bottom 0.2s ease-in-out;
}

.progressBar {
  height: 3px;
  width: 100%;
  background-color: var(--middle-dark);
}

.playerBar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 80%);
}

.show {
  bottom: 0px;
}
